.content {
  padding: 0;
  min-width: 250px;

  button {


  }
}

.input {
  label {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.6);
  }

  span {
    color: rgba(0, 0, 0, 0.4);
  }
}

.barButton {
  width: 170px;
  background-image: url("../../../assets/LOGIN.jpg");
  background-position: center;
  box-shadow: 10px 10px 5px #888888;
  margin: 15px;
}

.barButton1 {
  width: 170px;
  background-image: url("../../../assets/signup.jpg");
  background-position: center;
  box-shadow: 10px 10px 5px #888888;
  margin: 15px;
}
