@import '../../../styles/colors';

.content {
  padding: 0;
  min-width: 250px;
}

.input {
  min-width: 100%;

  label {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.6);
  }

  span {
    color: rgba(0, 0, 0, 0.4);
    &::after, &::before {
      background-color: $crimson-red;
    }
  }

  input:focus {
    ~ label, ~ span {
      color: $crimson-red !important;
    }
  }
}

.barButton {
  margin-right: 10px;
}

.buttons-grid {
  width: 100%;
}

.accept-button {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
}
