.content {
  padding: 0;
  min-width: 250px;

  button {
    width: 100px;
    margin-right: 15px;
  }
}

.input {
  label {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.6);
  }

  span {
    color: rgba(0, 0, 0, 0.4);
  }
}

.barButton {
  margin-right: 10px;
}


.buttons-grid {
  width: 100%;
}
