.card {
  padding-bottom: 10px;
  max-width: 500px;
  margin: auto;
}

.content {
  padding: 25px;
  padding-top: 0;
}

.accept {
  background-color: #ff4081;
  width: 30%;
  height: 40px;
  margin-left: auto;
  margin-right: auto;

  p {
    color: white;
    font-size: 20px;
  }
}

.input {
  label {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.6);
  }
  span {
    color: rgba(0, 0, 0, 0.4);
  }
  &:active {
    color: #ff4081 !important;
  }
}


.tabMenu {
   nav + span {
    background-color: #ff4081;
  }
}
