@import '../../../styles/colors';

.chessboard {
  width: 550px;
  margin: 50px;
}

.wrapper {
  text-align: center;
  .tabs {
    display: inline-block;
    & > span {
      background-color: $crimson-red;
    }
    max-width: 880px;
  }

  .notation {
    display: inline-block;
    max-width: 860px;
  }

  .chessboard-wrapper {
    display: inline-block;
    .buttons {
      margin: 0 auto;
      text-align: center;
      button {
        margin: 0 10px 0 10px;
      }
    }
  }
}
