.chessboard {
<<<<<<< HEAD
  width: 500px;
  padding: 50px;
=======
  width: 550px;
>>>>>>> 2681ff7d9950dce66517d362359c39c36f6c8917
  margin-left: auto;
  margin-right: auto;
  box-sizing: content-box;
}
