@import '../../../styles/colors';

.main {
  height: 100%;
}

.header {
  background-color: $crimson-red;
  min-height: 60px;
  height: 60px;
  white-space: nowrap;

  .logo {
    max-width: 40px;
    max-height: 40px;
    padding: 5px;
  }
}

.menu {
  width: 100% !important;

  .menuItem {
    button {
      font-size: 20px;
      min-width: 100%;
      height: 70px;
      text-align: center;

      &:hover {
        background-color: $light-pink !important;
      }
    }
  }
}

.content {
  margin-bottom: 50px;
  flex: 1;
  padding: 1.8rem;
  overflow-y: auto;
}

.footer {
  background-color: $crimson-red;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;

  .text {
    text-align: center;
    color: white;
    padding: 15px;
  }
}
