.sample {
    background-color: cyan;
    min-width: 100%;
    .col1 {
      background-color: red;
    }

    .col2 {
      background-color: purple;
    }

    .col3 {
      background-color: blanchedalmond;
    }
}
